#!/bin/bash

/usr/sap/hostctrl/exe/sapcontrol -nr {{ sap_system_number }} -function StartSystem ALL

# Check if System is active
while [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ sap_system_number }} -function GetSystemInstanceList | grep -E \"(GRAY|YELLOW)\"`" ]; do
 sleep 1;
done

echo test
# Check if system failed
if [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ sap_system_number }} -function GetSystemInstanceList | grep RED`" ]; then
 echo "HANA Status RED"
 exit 3;
fi

